[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "src/px4_ros_com"]
	path = src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com
[submodule "px4"]
	path = px4
	url = https://github.com/Bulnabi-SNU/RAC2025_PX4
	branch=main
